body{
    flex-direction: column;
    align-items: center;
}

#top{
    border: red;
    border-style: solid;
    border-width: 80%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#mellan{
    border: orange;
    border-style: solid;
    border-width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#rubrik{
    background-color: aqua;
    padding-left: 60px;
    padding-right: 60px;
    border-style: solid;
}

#botten{
    border: yellow;
    border-style: solid;
    display: flex;
}


#vänster{
    background-color: yellow;
    border-style: solid;
    min-width: 49%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#höger{
    background-color: lightcoral;
    border-style: solid;
    min-width: 49%;
    padding-top: 20px;
    padding-bottom: 20px;
}

a{ 
    font-family: monospace;
    font-size: 20px;
}

h1{
    text-align: center;
}